.markdown-preview-view.is-readable-line-width.page-100 .markdown-preview-sizer,
.markdown-source-view.mod-cm6.is-readable-line-width.page-100 .cm-sizer {
max-width: 100%;
}
.markdown-source-view.mod-cm6.is-readable-line-width .cm-line,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-content {
max-width: 100%;
}

/* Dataview column wrapping */
 .table-view-table>tbody>tr>td { 
    white-space: pre-wrap !important;
}

.meetingTable {
    td:nth-child(1) {
        max-width: 100px;
    }
}